@keyframes print {
	0% { height: 100vh; }
	25% { height: 100vh; }
	100% { height: 0vh; }
}

@keyframes scanlines {
	0% { transform: translate(0px, 16px) }
	100% { transform: translate(0px, 0px) }
}


:root {
	--text-color: #dde;
	--background-color: #21252b;
}

html {
	display: flex;
	justify-content: center;
	height: 100vh;
}

body {
	margin: 0;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: Monaco, "Noto Mono", Consolas, "Lucida Console", monospace;
	display: flex;
	flex-direction: column;
	text-shadow: 0 0 2px #777;
}

main {
	width: 60vw;
}

ul {
	list-style: none;
}

main ul li::before {
	content: "*";
}

.overlay {
	left: 0;
	z-index: 100;
	width: 100vw;
	position: fixed;
	pointer-events: none;
}

#print {
	animation: print 1.5s steps(25, end);
	background-color: var(--background-color);
	bottom: 0;
	height: 0;
}

#scanlines {
	top: 0;
	opacity: .15;
	height: 100vh;
	animation: scanlines 1s steps(16) infinite;
	will-change: transform;
	background: url(data:image/gif;base64,R0lGODlhBAAQAIABAAAAAP///yH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEKAAEALAAAAAAEABAAAAIKhI8Jwe0Po5ytAAA7);
}

.accent {
	color: #c60;
}

a, .accent {
	text-shadow: 0 0 3px #955;
}

a {
	color: #e60;
	position: relative;
}

.rightSide {
	text-align: right;
}

#links {
	display: flex;
	justify-content: space-between;
}

#links ul {
	padding-left: 0;
}

#links li:first-child::before {
	content: "> ";
	left: -1em;
}

#links li {
	font-size: 1.1em;
	position: relative;
}

#links a:hover::before, #links a:hover::after,
#links a:focus::before, #links a:focus::after,
#links li:first-child::before {
	position: absolute;
	top: 0;
	color: var(--text-color);
}

#links a:hover::before, #links a:focus::before {
	content: "[";
	left: -1em;
}

#links a:hover::after, #links a:focus::after {
	content: " ]";
	right: -1em;
}

#links a:focus {
	outline: none;
}

@media (max-aspect-ratio: 4/3) {
	main {
		width: 95vw;
	}
}

@media only screen and (max-width: 768px) {
	#links {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.bL {
	margin-bottom: 0;
}

.bL + ul {
	margin-top: 0;
}

.hiddenLink {
	color: var(--text-color);
	cursor: text;
	text-shadow: 0 0 2px #777;
	text-decoration: none;
}